{% extends "layout.html" %}

{% block title %}Q3{% endblock %}

{% block content %}
<div class="box">
  <h1>3/4</h1>
  <div class="question">
    <h1>Carbon fixation means transforming carbon into a more useful form.</h1>
  </div>
  <form action={{ url_for("renderPage4") }} method="POST">
    <input type="radio" id="True" name="answer" value="True" required {{ disable5 }}>
    <label for="True">True</label><br>
    <input type="radio" id="False" name="answer" value="False" {{ disable6 }}>
    <label for="False">False</label><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
