{% extends "layout.html" %}

{% block title %}Q1{% endblock %}

{% block content %}
<div class="box">
  <h1>1/4</h1>
  <div class="question">
    <h1>Polymers are formed by dehydation synthesis reactions.</h1>
  </div>
  <form class = "form" action={{ url_for("renderPage2") }} method="POST">
    <input type="radio" id="True" name="answer" value="True" required {{ disable }}>
    <label for="True">True</label><br>
    <input type="radio" id="False" name="answer" value="False" {{ disable2 }}>
    <label for="False">False</label><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
